fieldset {
	width: 100%;
}
textarea {
	height: 100px!important;
}
div .jsonform-error-classical_osmotic_symptoms {
	clear: both;
}
div .jsonform-error-viral_illness_or_infection_at_diagnosis {
	clear: both;
}


div .jsonform-error-consultant_name {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-s_no {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-hospital_reg_no {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-alive_or_deceased {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-cause_of_death {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-diabetes_related_death {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-phone {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-email {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-gender {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-date_of_birth {
   float: left; 
   width: 33%;
   clear: both;
   
}
div .jsonform-error-age {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-marital_status {
   float: left; 
   width: 33%;
   padding-left: 20px;
}


div .jsonform-error-father_name {
   float: left; 
   width: 66%;
   clear: both;
}
div .jsonform-error-father_age {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-father_education {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-father_occupation {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-father_income {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-mother_name {
   float: left; 
   width: 66%;
   clear: both;
}
div .jsonform-error-mother_age {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-mother_education {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-mother_occupation {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-mother_income {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-religion {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-caste {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-sub_caste {
   float: left; 
   width: 33%;
   padding-left: 20px;
}


div .jsonform-error-sibling_details {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-family_history_of_diabetes {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-sibling_history_of_diabetes {
   float: left; 
   width: 33%;
   padding-left: 20px;
}


div .jsonform-error-education {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-place_or_pincode_at_diagnosis {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-drinking_water_source {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-drinking_water_purification {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-any_industries_nearby {
   float: left; 
   width: 30%;
   clear: both;
}
div .jsonform-error-industries_nearby_details {
   float: left; 
   width: 70%;
   padding-left: 20px;
}

div .jsonform-error-any_mobile_towers_nearby {
   float: left; 
   width: 30%;
   clear: both;
}
div .jsonform-error-mobile_towers_nearby_details {
   float: left; 
   width: 70%;
   padding-left: 20px;
}

div .jsonform-error-hours_watching_tv {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-hours_using_mobile {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-hours_playing {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-other_activities {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-other_illness {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-other_diseases {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-other_surgeries {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-food_habits {
   float: left; 
   width: 25%;
   clear: both;
}
div .jsonform-error-rice_consumption {
   float: left; 
   width: 25%;
   padding-left: 20px;
}
div .jsonform-error-milk_consumption {
   float: left; 
   width: 25%;
   padding-left: 20px;
}
div .jsonform-error-coffee_tea_consumption {
   float: left; 
   width: 25%;
   padding-left: 20px;
}

div .jsonform-error-cola_consumption {
   float: left; 
   width: 30%;
   clear: both;
}
div .jsonform-error-cola_consumption_duration {
   float: left; 
   width: 70%;
   padding-left: 20px;
}

div .jsonform-error-other_softdrinks_consumption {
   float: left; 
   width: 30%;
   clear: both;
}
div .jsonform-error-other_softdrinks_consumption_duration {
   float: left; 
   width: 70%;
   padding-left: 20px;
}

div .jsonform-error-type_of_delivery {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-birth_weight {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-any_admissions_to_NICU {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-vaccination_history_if_available {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-breast_feeding_details {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-weaning_details {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-weight_at_diagosis {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-height_at_diagnois {
   float: left; 
   width: 50%;
   padding-left: 20px;
}
div .jsonform-error-bmi_at_diagnosis {
   clear: both;
}

div .jsonform-error-year_of_diagnosis {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-age_of_patient_at_diagnosis {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-blood_pressure_at_diagnosis {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-blood_pressure_at_diagnosis_second_measurement {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-glucose_at_diagnosis {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-HbA1c_at_diagnosis {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-diabetic_ketoacidosis_at_diagnosis {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-admission_at_diagnosis {
   float: left; 
   width: 30%;
   clear: both;
}
div .jsonform-error-duration_of_hospital_stay_at_diagnosis {
   float: left; 
   width: 70%;
   padding-left: 20px;
}

div .jsonform-error-c_peptide_results_at_diagnosis {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-GAD_antibody_at_diagnosis {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-type_of_insulin {
   float: left; 
   width: 30%;
   clear: both;
}
div .jsonform-error-type_of_insulin_if_others {
   float: left; 
   width: 70%;
   padding-left: 20px;
}

div .jsonform-error-any_pregnancies_with_type_1_diabetes {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-pregnancy_delivery_method {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-any_miscarriages_in_pregnancy {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-number_of_miscarriages_in_pregnancy {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div .jsonform-error-any_birth_defects_to_baby {
   float: left; 
   width: 33%;
   clear: both;
}
div .jsonform-error-baby_birth_defect_details {
   float: left; 
   width: 33%;
   padding-left: 20px;
}
div .jsonform-error-birth_weight_of_baby {
   float: left; 
   width: 33%;
   padding-left: 20px;
}

div .jsonform-error-year_of_insulin_pump_start {
   float: left; 
   width: 50%;
   clear: both;
}
div .jsonform-error-no_of_months_on_insulin_pump {
   float: left; 
   width: 50%;
   padding-left: 20px;
}

div[class$="---date_of_visit"] {
   float: left; 
   width: 50%;
   clear: both;
}
div[class$="---months_since_diagnosis"] {
   float: left; 
   width: 50%;
   padding-left: 20px;
}
